#buttonsDiv {
	margin-top: 0.1rem;
	margin-bottom: 1.0rem;
	}
.btn {
  margin: 0.2rem 0 0 0;
}
.progress {
  height: 2.5rem;
  margin: 0 0 0 0;
}
.progress-bar {
  justify-content: center;
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  padding-right: 0.3rem;
  text-align: right;
  background-color: #e4cd77;
}

.bar-0 {
  background-color:#28211B;
  color: #FFF;
}

.bar-1 {
  background-color:#322922;
  color: #FFF;
}

.bar-2 {
  background-color:#3B3228;
  color: #FFF;
}

.bar-3 {
  background-color:#453A2F;
  color: #FFF;
}

.bar-4 {
  background-color:#4F4236;
  color: #FFF;
}

.bar-5 {
  background-color:#594A3C;
  color: #FFF;
}

.bar-6 {
  background-color:#635243;
  color: #FFF;
}

.bar-7 {
  background-color:#6C5A59;
  color: #FFF;
}

.bar-8 {
  background-color:#796959;
  color: #FFF;
}

.bar-9 {
  background-color:#86786A;
  color: #FFF;
}

.names {
	margin-top: 10px;
	margin-bottom: 2px;
	padding:0px;
}

#map {
	width:100%;
	height:500px;
}

#subHead {
	text-transform: uppercase;
	letter-spacing: 0.03rem;
	color: #1E1914;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 3px;
	line-height: .75;
	font-family: 'Do Hyeon', sans-serif;
}

.huge {
	font-family: 'Do Hyeon', sans-serif;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.h5 {margin-bottom: 10px}

.mapboxgl-popup-content {
			border-radius: 7px;
}

.popup-content {
	font: 16px/19px 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	padding: 6px 6px 3px 6px;
	border-radius: 7px;
}
